*{
    margin: 0;
    padding: 0;
   }
   .clearfix::after{
       content: "";
       clear: both;
       display: block;
   }
   .container{
   width: 80%;
   margin: auto;
   }
   img{
       max-width: 100%;
   }
   .text-center{
       text-align: center;
   }
   .text-left{
       text-align: left;
   }
   .text-right{
       text-align: right;
   }
   /*****HEADER-AREA**************/
   .header-area{
       background-color: #2980b9;
       overflow: hidden;
   }
   .header-left{
   float: left;
   width: 30%;
   }
   .header-left img{
    width: 200px;
    height: auto;
   }
   .header-right{
   float: left;
   width: 70%;
   }
   .header-right ul{
   list-style: none;
   text-align: center;
   margin: 0;
   padding: 0;
   }
   .header-right ul li{
       display: inline-block;
       margin-left: -4px; 
   }
   .header-right ul li a{
       font-size: 25px;
       text-decoration: none;
       color: #ffffff;
       display:block;
       line-height: 75px;
       padding: 0 10px;
       text-transform: capitalize;
       border-right: 2px solid #ffffff;
       transition: .4s;
   }
   .header-right ul li a:hover{
       background-color:  #0a588d;
       border-right: 2px solid #ffffff;
   }
   /********banner************/
   .banner{
       background: url('images/bg.jpg') no-repeat center;
       overflow: hidden;
       background-size: cover;
       padding: 200px 0;
       background-attachment: fixed;
   }
   .banner-caption h2{
       background: rgba(0,0,0,.4);
       color: #ffffff;
       display: inline-block;
       padding: 8px 20px;
       font-size: 24px;
       border-radius: 5px;
   }
   .banner-caption h1{
       background:rgba(41, 128, 185,.5);
       color: #fff;
       max-width: 320px;
       margin: auto;
       font-size: 27px;
       padding: 10px 0;
       border-radius: 5px;
       margin-top: 16px;
       
   }
   /***********about**************/
   .about{
       margin-top: 60px;
   }
   .about p{
       max-width: 700px;
       margin: auto;
       font-size: 15px;
   }
   .about h2{
       font-size: 30px;
       margin-bottom: 10px;
   }
   /****************service************/
   .service{
       margin-top: 60px;
      
   }
   .service-item{
   width: 31.33%;
   float: left;
   border: 1px solid #dddddd;
   padding: 25px;
   box-sizing: border-box;
   margin: 0 1% 0 1%;
   
   }
   .service-item span{
       display: block;
       height: 60px;
       width: 60px;
       background-color: #3498db;
       color: #fff;
       margin: auto;
       font-size: 35px;
       line-height: 60px;
       border-radius: 20px 0 20px 0;
   }
   .service-item h3{
       margin: 20px 0;
       font-size: 20px;
   }
   
   /***********BLOG SECTION***************/
   .blog-content{
     margin: 60px 0;  
   }
   .blog-left-content{
       width: 70%;
   float: left;
   }
   .blog-item{
      margin-bottom: 30px; 
   }
   .blog-item img{
       float: left;
       width: 160px;
       height: auto;
       margin-right: 15px;
   }
   /*******blog notification**********/
   .blog-left-notification{
       width: 25%;
       float: right;
   }
   .blog-left-notification h2{
       font-size: 30px;
       border-bottom: 1px solid #dddddd;
       margin-bottom: 10px;
       padding-bottom: 5px;
   }
   .blog-left-notification ul{
       list-style: none;
   }
   .blog-left-notification ul li{
       border: 1px solid #dddddd;
       background: #fafafa;
       font-size: 20px;
       padding: 10px;
       margin-bottom: 8px;
       border-radius: 5px;
   }
   /************FOOTER AREA*************/
   .footer{
    background: #2c3e50;
    color: #fff;
    padding: 15px 0;
}
.footer-left{
    float: left;
    width: 40%;
}
.footer-right{
    float: right;
    width: 60%;
}


.social-menu{
    text-align: right;
}
.social-menu li{
    display: inline-block;
}
.social-menu li a {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}
.social-menu li a:hover{
    color: #3dddcd;
}